!platforms/android/build/outputs/apk/*
!/platforms/android/build/outputs/apk/*
!/platforms/android/build/outputs/apk/android-debug-unaligned.apk
/foo/*
/node_modules/*
/platforms/*
/plugins/*
/hooks/*
